{% set control_plane_host = '127.0.0.1' if inventory_hostname == groups['control_plane'][0] else hostvars[groups['control_plane'][0]].ansible_host %}
{% set litellm_host = '127.0.0.1' if inventory_hostname == groups['litellm_gateway'][0] else hostvars[groups['litellm_gateway'][0]].ansible_host %}
EXECUTOR_CONTROL_PLANE_URL=http://{{ control_plane_host }}:8000
EXECUTOR_WORKER_ID={{ inventory_hostname }}
EXECUTOR_POLL_INTERVAL_SEC={{ executor_poll_interval_sec }}
PLAYWRIGHT_BROWSERS_PATH={{ ansible_facts.env.HOME }}/.etzhayyim/playwright-browsers
EXECUTOR_ARTIFACT_DIR={{ ansible_facts.env.HOME }}/.etzhayyim/executor-artifacts
LITELLM_BASE_URL=http://{{ litellm_host }}:4000
LITELLM_API_KEY={{ litellm_master_key | default('sk-etzhayyim-litellm-local') }}
R2_ENDPOINT_URL={{ executor_r2_endpoint_url | default('') }}
R2_BUCKET={{ executor_r2_bucket | default('') }}
R2_ACCESS_KEY_ID={{ executor_r2_access_key_id | default('') }}
R2_SECRET_ACCESS_KEY={{ executor_r2_secret_access_key | default('') }}
R2_PUBLIC_BASE_URL={{ executor_r2_public_base_url | default('') }}
