LANGSMITH_TRACING=false
POSTGRES_URI=postgresql://{{ langgraph_postgres_user }}:{{ langgraph_postgres_password }}@{{ langgraph_postgres_host }}:{{ langgraph_postgres_port }}/{{ langgraph_postgres_db }}
LITELLM_BASE_URL=http://127.0.0.1:4000
LITELLM_API_KEY={{ litellm_master_key | default('sk-etzhayyim-litellm-local') }}
CONTROL_PLANE_HOST={{ inventory_hostname }}
LEASE_TTL_SEC=60
